.custom-gray {
  background-color: #fcfcfc;
}
.auth-img-wrap ion-img {
  max-width: 200px;
  margin: auto;
}
.custom-checkbox {
  --ripple-color: transparent;
  --background-hover: transparent;
}
.custom-checkbox ion-checkbox.md.in-item.interactive {
  margin: 0 10px 0 0;
}
.auth-page {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px 20px 20px;
}
.auth-header {
  text-align: center;
  padding: 20px 0 40px;
}
.auth-header ion-title.title-default {
  font-size: 30px;
  color: #244a66;
  padding: 0;
  position: initial;
}
.auth-header ion-toolbar p {
  margin: 0;
}

ion-item.input-item {
  border: 1px solid #e3e3e3 !important;
  margin: 0;
  margin-bottom: 18px;
  border-radius: 30px;
  padding: 2px;
}
.forgot-text ion-button {
  margin-left: auto;
}
ion-item.input-item ion-input {
  padding-left: 15px !important;
}

ion-button.login-btn {
  max-width: 220px;
  height: 45px;
  margin: 15px auto;
}
.custom-checkbox ion-label#ion-cb-0-lbl {
  overflow: auto;
  text-overflow: initial;
  white-space: initial;
}
ion-item.input-item:focus {
  border-color: #0096ef !important;
}
.ion-text-center ion-label {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
:host(.item-fill-none.item-has-focus) .item-native {
  border: 1px solid #0096ef;
}

.post-detail-wrap ion-item,
.menu-wrap ion-item {
  --inner-padding-end: 0;
}
ion-card {
  margin-left: 0px;
  margin-right: 0px;
}
ion-searchbar {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ion-item .input-wrapper {
  justify-content: center;
}
.width-100 {
  width: 100%;
}
.ion-inline {
  display: flex;
  justify-content: space-between;
}
ion-popover::part(backdrop) {
  background-color: transparent;
}
ion-toolbar {
  --background: transparent;
}
:host(.item-fill-none.item-label) .item-native {
  padding: 0px !important;
}
:host .menu-wrap .item-inner {
  padding: 5px 15px !important;
}
ion-loading.custom-loading {
  --background: #e3edff;
  --spinner-color: #1c6dff;

  color: #1c6dff;
}
.readmore {
    background-color: transparent;
    color: var(--ion-color-primary, #3880ff);
    cursor: pointer;
}
ion-avatar {
  --border-radius:0;
}
.user-bio{
  white-space:pre;
}
/* ion-col {
  background-color: #135d54;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
} */


body {
  font-family: 'Helvetica';
  background-color: #0e2439;
}

.filter-buttons {
  display: flex;
  margin-bottom: 20px;
  color: black;
}

.filter-buttons .active-view {
  color:white;
  background: var(--ion-color-primary, #3880ff)
}


.list-view-button,
.grid-view-button {
  color: rgb(2, 47, 248);
  border: 1px solid rgb(173, 230, 208);
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
}

.post-img img, .post-img video, .post-img audio{
  object-position: center;
  min-height: 240px;
  max-height: 240px;
  object-fit: contain;
  display: block;
  width: 100%;
}

.list a {
  text-decoration: none;
  cursor: pointer;
}

.list-view-button:hover,
.grid-view-button:hover {
  background: rgb(99, 180, 255);
  color: #0e2439;
}

.list-view-button {
  margin-left: 10px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

/* li {
  background-color: #1f364d;
  color: white;
  border-radius: 3px;
  margin-bottom: 10px;
  transition: 0.3s;
} */

.list.list-view-filter {
  flex-direction: column;
}

.list.list-view-filter li {
  padding: 10px;
}

.list.grid-view-filter {
  flex-flow: row wrap;
}

.list.grid-view-filter li {
  width: calc(50% - 210px);
  padding: 100px;
  margin-right: 10px;
  text-align: center;
}
ion-textarea {
  max-height: 100px;
  max-width: 300px;
}
.grid-view-filter .action-wrap, .grid-view-filter .item-top, .grid-view-filter .post-img-top p {
  display: none;
}
.grid-view-filter a ion-card-content {
  padding: 0;
}
.list ion-card {
  max-width: 300px;
  min-width: 300px;
  margin: 10px;
}
.post-img-top {
  width: 100%;
}
.follower-dtl {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.profile-top-wrap ion-avatar.md {
  min-width: 100px;
    height: 100%;
    margin-right: 20px;
    max-height: 100px;
}
.follower-dtl {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.profile-top-wrap ion-avatar.md img {
  max-height: 100px;
  height: 100%;
  border-radius: 50%;
  margin-right: 20px;
  width: 100%;
  object-position: top;
}
.follower-dtl > div {
  text-align: center;
}
.follower-dtl  h4 {
  margin-bottom: 0;
}
.follower-dtl p {
  margin-top: 0;
}

@media(max-width:767px) {
  .list ion-card {
    max-width: 100%;
    min-width: 100%;
    margin: 10px 0;
}
}